################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/IT.Xamarin1/.vs/IT.Xamarin1/v15/Server/sqlite3/db.lock
